@font-face {
    font-family: 'Departure';
    src: url('./fonts/DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  #p5-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }